.icon-button-container {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $primary;
  padding: .5rem 1.5rem;
  padding-right: 1rem;
  margin: .5rem 0 0 0;
  border-radius: .25rem;
  transition: background-color .3s;
  color: white;
  pointer-events: all !important;

  h1 {
    background-color: none;
    font-size: .8rem;
    margin: 0 .5rem 0 0;
  }

  i {
    margin-left: .5rem;
    transition: margin-right .3s, margin-left .3s;
  }
  
  &:hover {
    cursor: pointer;
    background-color: $theme-greydark;
    i {
      margin-right: .25rem;
      margin-left: .25rem;
    }
  }
}
