.footer-button-container {
  width: max-content;
  height: max-content;
  margin: 0 auto;
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  perspective: 1000px;
  
  &-animate {
    border-radius: .75rem;
    min-width: 35rem;
    padding: 1.5rem;
    z-index: 200;
    pointer-events: none;
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-hover {
    position: absolute;
    min-width: 40rem;
    width: 100%;
    height: 100%;
    padding: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: $primary;
    z-index: 1;
  }

  &__text {
    text-align: left;
    color: white;
    z-index: 2;
    
    h4 {
      font-weight: 400;
    }
    h1 {
      font-size: 1.25rem;
    }
  }
  
  &__button {
    z-index: 2;
    padding: .5rem 2rem;
    border-radius: 50rem;
    background-color: $primary;
    color: white;
    transition: .3s;
    font-weight: 700;
    font-size: .85rem;
    pointer-events: all;

    &:hover {
      cursor: pointer;
      background-color: $primary-light;
    }
  }

  &__dark {
    .footer-button-container-animate {
      background-color: $theme-greydark;
    }
  }
  
  &__light {
    .footer-button-container-animate {
      background-color: $theme-greywhite;
    }

    .footer-button-container__text {
      color: $theme-greydark;
    }
  }

}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .footer-button-container {
    min-width: 60vw;
    &-animate, &-hover {
      min-width: 60vw;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .footer-button-container {
    min-width: 70vw;
    &-animate, &-hover {
      min-width: 70vw;
    }
    &__text {
      h4 {
        font-size: 2.5vw;
      }
      h1 {
        font-size: 2.75vw;
      }
    } 

    &__button {
      font-size: 2vw;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .footer-button-container {
    &-animate, &-hover {
      min-width: 80vw;
    }
    
    &__text {
      h4 {
        font-size: 2.25vw;
      }
      h1 {
        font-size: 2.5vw;
      }
    } 

    &__button {
      font-size: 2vw;
    }
  }
}
