.nav-bar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  border-radius: .75rem;
  z-index: 10;
  
  ul {
    list-style: none;
    margin: 0 auto;
    width: max-content;
    background-color: $theme-grey;
    border-radius: .75rem;

    li {
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 1rem;
      padding: 1rem 0;
      width: 11rem;
      color: white;
      text-decoration: none;
      background-color: $theme-grey;
      display: inline-block;
      transition: .3s;

      &:first-child {
        border-radius: 0 0 0 .75rem;
      }

      &:last-child {
        border-radius: 0 0 .75rem 0;
      }

      &:hover {
        cursor: pointer;
        background-color: $theme-greymiddle;
      }
    }

    .active {
      background-color: $primary;

      &:hover {
        background-color: $primary;
      }
    }

    .disabled {
      background-color: $theme-greymiddle;
      opacity: .1;

      &:hover {
        cursor: default;
      }
    }
  
  }

  .simple-popup-container {
    width: 20rem;
    margin: 0 auto;
  }

}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .nav-bar-container {
    ul {
      li {
        width: 10rem;
        font-size: 90%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .nav-bar-container {
    ul {
      li {
        width: 8rem;
        font-size: 80%;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .nav-bar-container {
    ul {
      li {
        width: 7rem;
        font-size: 80%;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {  }






