.nav-bar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $theme-grey;
  border-radius: .75rem;
  z-index: 10;

  ul {
    list-style: none;

    li {
      font-size: 1rem;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 1rem;
      padding: 1rem 0;
      width: 11rem;
      color: white;
      text-decoration: none;
      background-color: $theme-grey;
      display: inline-block;
      transition: .3s;

      &:first-child {
        border-radius: 0 0 0 .75rem;
      }

      &:last-child {
        border-radius: 0 0 .75rem 0;
      }

      &:hover {
        cursor: pointer;
        background-color: $theme-greymiddle;
      }
    }

    .active {
      background-color: $primary;

      &:hover {
        background-color: $primary;
      }
    }

  }

}