.footer-bar-container {
  background-color: $theme-greymiddle;
  min-height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__illustration {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
    height: 115%;
    width: auto;
    z-index: 1;
  }

  &__links {
    position: relative;
    z-index: 5;
    width: max-content;
    text-align: left;
    color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;

    &__navigation, &__media, &__copyright {
      margin: 0 2rem;
      width: max-content;
      h1 {
        font-size: 1.75rem;
        width: max-content;
      }
      h4 {
        font-weight: 400;
        font-size: 1rem;
        width: max-content;

        &:hover {
          cursor: pointer;
          color: $theme-greydark;
        }
      }
    }

    &__copyright {
      h4 {
        font-weight: 400;
        width: max-content;
        font-size: 1rem;

        &:hover {
          cursor: default;
          color: unset;
        }
      }
    }

  }

}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .footer-bar-container {
    padding: 8rem 0;

    &__illustration {
      height: 90%;
      opacity: .3;
      mix-blend-mode: overlay;
    }

    &__links {
      grid-template-columns: repeat(2, auto);
      grid-row-gap: 2rem;

      &__navigation, &__media, &__copyright {
        h1 {
          font-size: 3vw;
          width: max-content;
        }
        h4 {
          font-size: 2vw;
        }
      }

      &__copyright {
        grid-column: 1 / span 2;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .footer-bar-container {
    padding: 10rem 0;

    &__illustration {
      height: 85%;
      opacity: .2;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .footer-bar-container {

    &__illustration {
      width: 100%;
      height: auto;
    }

    &__links {
      grid-template-columns: repeat(2, auto);
      grid-row-gap: 2rem;

      &__navigation, &__media, &__copyright {
        h1 {
          font-size: 4vw;
          width: max-content;
        }
        h4 {
          font-size: 3vw;
        }
      }

      &__copyright {
        grid-column: 1 / span 2;
      }
    }
  }
}
