.footer-bar-container {
  background-color: $theme-greymiddle;
  min-height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__illustration {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
    height: 115%;
    width: auto;
    z-index: 1;
  }

  &__links {
    position: relative;
    z-index: 5;
    width: max-content;
    text-align: left;
    color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;

    &__navigation, &__media, &__copyright {
      margin: 0 2rem;
      width: max-content;
      h1 {
        font-size: 1.75rem;
        width: max-content;
      }
      h4 {
        font-weight: 400;
        font-size: 1rem;
        width: max-content;

        &:hover {
          cursor: pointer;
          color: $theme-greydark;
        }
      }
    }

    &__copyright {
      h4 {
        font-weight: 400;
        width: max-content;
        font-size: 1rem;

        &:hover {
          cursor: default;
          color: unset;
        }
      }
    }

  }

}