.form-block-container {
  padding: 10rem 0;
  margin: 0 auto;
  width: 80%;

  h1 {
    color: $primary;
    font-weight: 500;
    font-size: 2.25rem;
    margin: .5rem 0;
  }
  
  p {
    margin: .5rem 0;
    font-size: .75rem;
    color: $theme-greydark;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 25rem;

    &__input,
    &__textarea {
      width: 100%;
      position: relative;

      span {
        position: absolute;
        top: 0.75rem;
        left: 0.25rem;
        color: $primary;
      }

      input,
      textarea {
        width: 100%;
        margin: 0.25rem 0;
        border: 0;
        outline: 0;
        padding: 0.5rem 1rem;
        border-radius: .25rem;
        border: 1px solid $theme-border;
        color: $theme-greydark;
        transition: .3s;
        &:active, &:focus {
          border-color: $primary;
          color: $primary;
        }

        &::placeholder {
          color: $theme-greylight2;
        }
      }

      textarea {
        min-height: 8rem;
        resize: vertical;
      }
    }

    &__button {
      width: 100%;
      background-color: $theme-greylight;
      border: 0;
      outline: 0;
      padding: .5rem 1rem;
      border-radius: .25rem;
      color: $theme-greywhite;
      transition: .3s;
    }
    
    .active {
      cursor: pointer;
      pointer-events: all;
      background-color: $primary;

      &:hover {
        background-color: $theme-greylight;
      }
    }

    .disabled {
      pointer-events: none;
    }

  }

  &__button {
    width: 15rem;
    background-color: $theme-greylight;
    border: 0;
    outline: 0;
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: $theme-greywhite;
    transition: .3s;
    margin: .5rem 0;
  }

  .active {
    pointer-events: all;
    background-color: $primary;

    &:hover {
      background-color: $theme-greylight;
    }
  }

  .disabled {
    pointer-events: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .form-block-container {
    h1 {
      font-size: 150%;
    }

    &__form {
      width: 70vw;
    }

    &__button {
      width:  70vw;
    }
  }
}
