.icon-button-container {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $primary;
  padding: .5rem 1.5rem;
  margin: .5rem 0 0 0;
  border-radius: 50rem;
  transition: .3s;
  color: white;

  .button-svg {
    height: 1.15rem;
    margin: 0 .25rem 0 0;

    img {
      height: 100%;

    }
  }

  h1 {
    background-color: none;
    font-size: .8rem;
    margin: 0 0 0 .25rem;
  }

  &:hover {
    cursor: pointer;
    background-color: $theme-greydark;
  }
}
