.page-heading-container {
  background-color: $theme-greymiddle;
  border-radius: .75rem;
  width: 50rem;
  min-height: 20rem;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__text {
    color: white;
    text-align: left;
    margin-left: 5rem;
    flex-grow: 1;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 80%;
    }

    .marginBottom {
      margin-bottom: 1rem;
    }

    h4 {
      font-weight: 400;
      font-size: 1.25rem;
      margin: .5rem 0 0 0;
    }
    
    &__btn {
      width: max-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: $primary;
      padding: .5rem 1.5rem;
      margin: .5rem 0 0 0;
      border-radius: 50rem;
      transition: .3s;

      .button-svg {
        height: 1.15rem;
        margin: 0 .25rem 0 0;

        img {
          height: 100%;

        }
      }

      h1 {
        background-color: none;
        font-size: .8rem;
        margin: 0 0 0 .25rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $theme-greydark;
      }
    }
  }

  &__links {
    margin-right: 5rem;
    z-index: 5;

    .media_container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      transition: .3s;
      
      .media_circle {
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &:hover {
          cursor: pointer;
        }
      }

      .media_name {
        opacity: 0;
        min-width: 6rem;
        color: $theme-greywhite;
        transition: .3s;
      }

      &:hover {
        
        .media_circle {
          color: $theme-greymiddle;
        }

        .media_name {
          opacity: 1;
        }
      }
    }
  }

  .hidden {
    opacity: 0;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 95%;
    width: auto;
    border-radius: 0 0 .75rem 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .page-heading-container {
    width: 45rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .page-heading-container {
    width: 30rem;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    &__links {
      display: none;
    }

    &__text {
      text-align: center;
      margin-left: 0;

      &__btn {
        justify-content: center;
        margin: .5rem auto;
      }
    }

    &__image {
      height: 60%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .page-heading-container {
    width: 80%;

    &__text {
      h1 {
        line-height: 100%;
        font-size: 225%;
      }
    }

    &__image {
      height: 50%;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 410px) {
  .page-heading-container {

    &__image {
      height: 45%;
    }

  }
}
