.project-container {
  margin: 0;
  min-height: 100vh;
  background-color: $theme-greydark;
  padding: 10rem 0 0 0;

  .page-heading-card {
    margin: 0 auto 10rem auto;
  }

  &__sub-categories {
    min-height: 40vh;
    width: 100vw;
    margin: 10rem 0 0 0;
    background-color: $theme-greywhite;
  }

  .project-about-block {
    margin: 0 auto;
    padding: 15rem 0;
    background-color: $theme-greydark;
  }

  .project-gallery-block {
    width: 100%;
    min-height: 50vh;
    margin: 0;
    padding: 0;
    background-color: $theme-greywhite;
  }

  .project-image-gallery-block {
    padding: 10rem 0 0 0;
  }

}