.text-card-block-container {
  padding: 10rem 0;
  margin: 0 auto;
  width: 80%;

  &__heading {
    
  }  

  &__text {
    margin: .5rem 0;
    color: $theme-greydark;
    span {
      color: $primary;
      font-weight: 700;
      transition: .3s;
      &:hover {
        cursor: pointer;
        color: $primary-light;
      }
    }
  }  

  &__btns {
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
      padding: 1rem;
      background-color: $theme-greydark;
      outline: none;
      border: none;
      width: 10rem;
      color: white;
      transition: .3s;

      &:hover {
        cursor: pointer;
        background-color: $theme-greymiddle;
      }

    }

    .active {
      background-color: $primary;

      &:hover {
        cursor: default;
        background-color: $primary;
      }
    }
  }

  &__cards {
    margin: 1rem auto;
    width: 50vw;
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, 10.5rem);
    justify-items: center;
    justify-content: center;
  }

}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .text-card-block-container {
    padding: 10rem 0;

    &__btns {
      &__btn {
        font-size: 60%;
      }
    }
  }
}
