.draggable-table {
  width: 80%;
  margin: 0 auto;
  max-width: 35rem;
  &_heading {
    color: $theme-greydark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .25rem;
    h1 {
      font-size: 1.5rem;
    }
    i {
      color: $theme-greylight;
      font-size: 1.25rem;
      transition: .3s;
      cursor: pointer;
      &:hover {
        color: $theme-greydark;
      }
    }
  }

  &_table {
    &_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .75rem 1rem;
      color: white;
      font-size: 1.125rem;
      border: 1px solid white;
      &:nth-child(odd) {
        background-color: $primary;
      }
      &:nth-child(even) {
        background-color: $primary_light;
      }
      .lhs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        i {
          margin-right: 1rem;
        }
      }
      .rhs {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i {
          margin: 0 .5rem;
        }
      }
    }
  }
}