.request-message-container {
  min-width: 20rem;
  max-width: max-content;
  margin: 0 auto;

  &__message {
    width: 100%;
    margin: 0 auto;
    padding: .5rem 1rem;
    background-color: $theme-greywhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
      margin: 0 .5rem 0 0;
      font-size: 2rem;
    }

    p {
      margin: 0 .5rem;
    }
  }

  &__btns {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: $theme-grey;
    border: 1px solid $primary;
    transition: .3s;

    .request-message-btn {
      width: 100%;
      margin: 0;
      padding: 1rem 2rem;
      background-color: unset;
      justify-content: center;
      border-radius: 0;

      h1 {
        font-size: 70%;
      }

      &:hover {
        background-color: $theme-greymiddle;
      }
    }

  }

}

.success {
  i {
    color: $primary;
  }
}

.error {
  background-color: $error-red;
  border: 1px solid $error-red;

  i, p {
    color: $theme-greywhite;
  }

  .request-message-btn {
    background-color: $theme-grey;

    h1 {
      color: $theme-greywhite;
      font-size: 70%;
      transition: .3s;
    }

    &:hover {
      background-color: $theme-greymiddle;
      h1 {
        color: $theme-greywhite;
      }
    }
  }
}

