@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$secondary: #4ecdc4;
$secondary-light: #b3ece8;

$primary: #ff6b6b;
$primary-light:#ffb5b5;

$error-red: #FF2A2A;

$theme-grey: #3d4142;
$theme-greydark: #2e353c;
$theme-greydarkest: #191d20;
$theme-greymiddle: #716f73;
$theme-greylight: #dadada;
$theme-greylight2: #bebebe;
$theme-greywhite: #fbfbfb;

$theme-border: #C3C3C3;

:export {
  secondary: $secondary;
  secondaryLight: $secondary-light;
  primary: $primary;
  primaryLight: $primary-light;
  errorRed: $error-red;
  themeGrey: $theme-grey;
  themeGreydark: $theme-greydark;
  themeGreydarkest: $theme-greydarkest;
  themeGreymiddle: $theme-greymiddle;
  themeGreylight: $theme-greylight;
  themeGreywhite: $theme-greywhite;
}